
/* La Partie de la section des Commandes*/
.cmndsction{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


/* La Partie de la section des Commandes*/


/* La Partie de la section des Taches*/
.tchssction{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}

/* La Partie de la section des Commandes*/
