
/* La Partie de la section des Commandes*/
.cmndsction{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


/* La Partie de la section des Commandes*/


/* La Partie de la section des Taches*/
.tchssction{
    display: grid;
    grid-template-rows: 9%;

}

.divctnr{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/* La Partie de la section des Commandes*/
